# MAAS server interfaces configuration
#
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback
  dns-nameservers @DNS_NS@
  dns-search @MAAS_DOMAIN@

auto eth0
iface eth0 inet static
  address @MAAS_PRIV_IP@
  netmask @PRIV_NETMASK@
  gateway @PRIV_GW@
